@import "../media/media.scss";

.hero {
  margin-top: 25px;
  margin-bottom: 174px;

  @include md-max {
    margin-top: 97px;
    margin-bottom: 214px;
  }

  @include sm-max {
    margin-top: 46px;
    margin-bottom: 105px;
  }

  // SEPERATOR
  .h_seperator {
    position: relative;
    width: auto;
    height: 84px;

    @include md-max {
      display: none;
    }

    div {
      background-image: url(../../images/hero_seperator.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 100%;
    }
  }

  // HERO IMAGE
  .h_img {
    width: 940px;
    margin: 54px auto;

    @include md-max {
      width: auto;
      margin-bottom: 24px;
    }

    @include sm-max {
      margin-bottom: -12px;
    }
  }

  // TIMER
  .timer {
    display: flex;
    align-items: center;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: var(--ff-orbitron);
    font-style: normal;
    text-transform: uppercase;
    width: fit-content;
    padding: 0.5rem 3.5rem;
    margin: 0 auto;
    position: relative;
    margin-top: 45px;

    @include md-max {
      padding: 0.5rem 3.5rem;
      margin-top: 20px;
    }

    @include sm-max {
      width: 100%;
      padding: 0.3rem 1.5rem;
      margin-top: 5px;
    }

    .t_text {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.2em;

      @include md-max {
        font-size: 13.7971px;
        line-height: 18px;
        letter-spacing: unset;
      }

      @include sm-max {
        font-size: 8.45102px;
        line-height: 11px;
      }
    }

    .t_time {
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
      margin-left: 45px;

      @include md-max {
        font-size: 20.6957px;
        line-height: 25px;
      }

      @include sm-max {
        font-size: 12.6765px;
        line-height: 15px;
        margin-left: auto;
      }

      span {
        &:nth-child(odd) {
          font-weight: 700;
          font-size: 20px;
          margin-left: 5px;

          @include md-max {
            font-size: 14px;
          }

          @include sm-max {
            font-size: 8px;
          }
        }

        &:nth-child(even) {
          margin-left: 15px;
          margin-right: 10px;
          font-weight: 700;

          @include sm-max {
            margin-left: 4px;
            margin-right: 4px;
          }
        }
      }
    }

    .t_left_bg,
    .t_right_bg {
      position: absolute;
      width: 100.7%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;

      @include md-max {
        width: 101.4%;
      }

      @include sm-max {
        width: 102%;
        background-size: cover;
      }
    }

    .t_left_bg {
      background-image: url(../../images/timer_left_bg.svg);
      top: -6px;
      left: -2px;
      background-position: left top;

      @include md-max {
        background-image: url(../../images/timer_left_tab_bg.svg);
      }

      @include sm-max {
        background-image: url(../../images/timer_left_mobile_bg.svg);
      }
    }

    .t_right_bg {
      background-image: url(../../images/timer_right_bg.svg);
      bottom: -6px;
      right: -2px;
      background-position: right bottom;

      @include md-max {
        background-image: url(../../images/timer_right_tab_bg.svg);
      }

      @include sm-max {
        background-image: url(../../images/timer_right_mobile_bg.svg);
      }
    }
  }
}
