@import "../media/media.scss";

.D_navbar {
  width: 100%;
  height: 88px;
  margin-top: 14px;
  z-index: 9999;
  transition: all 0.2s ease;

  @include md-max {
    height: auto;
  }

  .inner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    transition: all 0.2s ease;

    @media only screen and (max-width: 576px) {
      padding: 0 10px;
    }

    // LOGO
    .logo {
      width: 182px;
      height: 88px;
      margin-left: -1.5rem;

      @include md-max {
        width: 113px;
        height: 55px;
        margin-left: unset;
      }

      @include sm-max {
        width: auto;
        height: auto;
      }

      img {
        width: 182px;
        height: 88px;

        @include md-max {
          width: 113px;
          height: 55px;
        }

        @include sm-max {
          display: none;
        }
      }

      span {
        color: var(--white-color);
        font-family: var(--ff-orbitron);
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2em;
        display: none;
        @include sm-max {
          display: block;
        }
      }
    }

    // LINKS
    .links {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);


      @include md-max {
        position: unset;
        left: unset;
        transform: unset;
        margin: 0 auto;
      }

      @include sm-max{
        position: fixed;
        top: -100%;
        right: 0;
        // bottom: 0;
        width: 100%;
        background-color: #001507;
        // border-left: 1px solid var(--white-color);
        overflow: auto;
        // box-shadow: 0 0.5rem 1rem #00000082;
        z-index: 99;
        transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        &.active {
          top: 0;
          transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }
      }

      

      .navbar_list {
        display: flex;

        @media only screen and (max-width: 576px) {
          display: block;
          padding: 30px 0 40px;
        }

        li {
          background-repeat: no-repeat;
          background-position: center;
          background-size: auto;
          padding: 1rem 2.5rem;
          font-size: 24px;
          font-weight: 400;
          font-family: var(--ff-orbitron);
          text-transform: uppercase;
          line-height: 32px;
          color: var(--white-color);
          position: relative;
          // overflow: hidden;
          cursor: pointer;
          letter-spacing: 0;
          transition: all 0.2s ease;

          &:nth-child(1) {
            background-image: url(../../images/nav_home_bg.png);

            &:hover {
              background-image: url(../../images/nav_home_white_bg.png);
            }
          }
          &:nth-child(2) {
            background-image: url(../../images/nav_team_bg.png);

            &:hover {
              background-image: url(../../images/nav_team_white_bg.png);
            }
          }
          &:nth-child(3) {
            background-image: url(../../images/nav_roadmap_bg.png);

            &:hover {
              background-image: url(../../images/nav_roadmap_white_bg.png);
            }
          }
          &:nth-child(4) {
            background-image: url(../../images/nav_staking_bg.png);
            margin-left: -10px;

            &:hover {
              background-image: url(../../images/nav_staking_white_bg.png);
            }
          }

          @include md-max {
            font-size: 21.269px;
            line-height: 28px;
          }

          @include sm-max {
            background: transparent !important;
            color: var(--white-color) !important;
            margin: 0 !important;
            text-align: center;
            letter-spacing: 0.16em;
          }

          &:hover {
            color: var(--black-color);
            transition: all 0.2s ease;
          }

          a {
            color: var(--white-color);
            padding: 0.5rem 0;
          }

          &:hover a {
            color: var(--black-color);
            transition: all 0.2s ease;

            @include sm-max {
              color: var(--primary-color);
            transition: unset;
            }
          }
        }
      }

      .connect {
        margin-bottom: 32px;
        display: none;

        @include sm-max {
          display: block;
        }

        p {
          font-family: var(--ff-Inter);
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: var(--white-color);
        }

        .c_social {
          display: flex;
          justify-content: center;
          grid-gap: 20px;
          margin-top: 15px;

          .cs_icon {
            width: 24px;
            height: 24px;
          }
        }
      }
    }

    // SEARCH BAR
    .searchBar {
      // display: flex;
      display: none;
      position: relative;

      @include sm-max {
        top: -7px;
        right: 50px;
        position: absolute;
        width: 36px;
      }

      input {
        background-image: url(../../images/searchBar_bg.png);
        background-color: transparent;
        border: none;

        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        font-family: var(--ff-comfortaa);
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #c1c9bf;
        padding: 1rem 50px 1rem 20px;

        @include md-max {
          background: transparent;
          padding: 1rem 2rem;

          &::placeholder {
            color: transparent;
          }
        }

        @include sm-max {
          padding: 1rem;
        }
      }

      img {
        position: absolute;
        right: 23px;
        top: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;

        @include sm-max {
          right: unset;
          left: 50%;
          transform: translate(-50%, 0%);
        }
      }
    }

    // HAMBURGER
    .hamburger {
      z-index: 99;
      @media only screen and (min-width: 576px) {
        display: none;
      }

      .checkbox {
        position: absolute;
        display: block;
        height: 32px;
        width: 32px;
        top: 20px;
        right: 0;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
      }

      .hamburger_lines {
        display: block;
        height: 19px;
        width: 26px;
        position: absolute;
        top: 6px;
        right: 10px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.4s ease-in-out;

        .line {
          display: block;
          height: 3px;
          width: 100%;
          background: var(--white-color);
        }

        .line1 {
          width: 50%;
          margin-left: auto;
          transform-origin: 0% 0%;
          transition: transform 0.4s ease-in-out;
        }

        .line2 {
          transition: transform 0.2s ease-in-out;
        }

        .line3 {
          width: 50%;
          margin-right: auto;
          transform-origin: 0% 100%;
          transition: transform 0.4s ease-in-out;
        }

        &.active {
          right: 5px;
          transition: all 0.4s ease-in-out;

          .line {
            background: var(--white-color);
          }

          .line1 {
            width: 94%;
            margin-left: unset;
            transform: rotate(45deg);
          }

          .line2 {
            transform: scaleY(0);
          }

          .line3 {
            width: 94%;
            margin-right: unset;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}
