@import '../media/media.scss';

.separator{
    position: relative;
    width: auto;
    height: 80px;

    div{
        background-image: url(../../images/separator_img.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;

        @include md-max{
            background-image: url(../../images/separator_tab_img.svg);
        }

        @include sm-max{
            background-image: url(../../images/separator_mobile_img.svg);
        }
    }
}